<button id="Hit" (click)="getGold()">Gold</button>

<mat-toolbar id="goldBar">
   
        <span for="" id="goldBarGold">{{this.goldAmmounBasic}}</span>
        
</mat-toolbar>

<div id ="divEarth">
<img src="assets/img/earth.jpg" id = "earth_img">

<mat-progress-bar id = "earthProgress" mode="determinate" value="40"></mat-progress-bar>
<p class="EarthBarLevelShown"></p>

<button id="upgradeEarthButton" (click)="upgradeEarth()">
    <p>Upgrade</p>
    <p>Level: {{earthLevel}}</p>
       Cost: {{earthUpgradeCost}}

</button>
<button id="upgradeEarthButton" (click)="upgradeEarthIdle()">
    <p>Idle</p>
    <p>Level: {{earthLevel}}</p>
       Cost: {{earthUpgradeCost}}

</button>


</div>

    
